/************* MAIN CONTENT ****************************/
body {
    padding-top: 70px;
}

header {
    padding-bottom: 20px;
}

.quoteArea,
footer {
    height: 300px;
}

.quoteArea {
    padding: 20px;
}

hr {
    margin-bottom: 50px;
}

/************* FOOTER ****************************/

footer {
    background-color: #77C9D4;
    padding: 10px;
    margin-top: 20px; 
}

/************* COLOR ****************************/
body {
    background-color: #EFEFEF;
}

header {
    background-color: #77C9D4;
}

header nav ul a {
    color: white;
}

a,
a:visited {
    color: #F7B733;
    text-decoration: none;
}

a:hover {
    color: #77C9D4;
    text-decoration: none;
}

a.selected {
    text-decoration: none;
}

nav ul a:hover,
nav ul a.selected {
    color: #FC4A1A;
    text-decoration: none;
}

nav a,
nav a:visited {
    color: white;
    text-decoration: none;
}

.quoteArea {
    background-color: #77C9D4;
}

#speakers,
#schedule {
    color: #FC4A1A;
}



