:root {
  --orange: #ee7732;
  --purple: #8f1fdf;
  --bg: #f4f7f6;
  --links: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', Arial, Sans-Serif;
}

body {
  background-color: var(--bg);
}

html,
body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
}

p {
  font-family: 'Montserrat', sans-serif, Arial;
  line-height: 2rem;
  font-size: 1rem;
  color: #000;
}

.container {
  flex: 1;
}

.wrapper {
  min-height: 400px;
  padding: 50px 20px;
}
.title {
  margin: 50px 0 30px 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--links);
  transition: 0.2s ease;
}
a:hover {
  color: var(--orange);
  transition: 0.2s ease;
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-anim {
    height: 35px;
    width: 35px;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-left-color: var(--orange);
    border-top-color: var(--purple);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}
@keyframes rotate {
    to {
        transform: rotate(1turn)
    }
}