.footer {
  flex-shrink: 0;
  position: relative;
  height: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #e8ebea;
}

.footer-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-social div {
  margin: 10px;
  transition: .3s ease;
}
.footer-social div:hover {
    transform: translateY(-5px);
    transition: .3s ease;
}

#copyright {
  margin: auto;
  padding-bottom: 1rem;
  color: #000;
}
#copyright a {
  color: var(--purple);
}