.header {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.header-links, .header-logo, .header-social {
    flex: 1;
}

.header-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-links div {
    margin-left: 30px;
}

.header-logo {
    text-align: center;
    order: -1;
}
.header-logo img {
    width: 100%;
    max-width: 350px;
}

.header-social {
    display: none;
    align-items: center;
    justify-content: flex-end;
    transition: display 5s;
}
.header-social div {
    margin-left: 30px;
    transition: .3s ease;
}
.header-social div:hover {
    transform: translateY(-5px);
    transition: .3s ease;
}


/* Media Queries */
@media (max-width: 530px) {
    .header {
        flex-direction: column;
    }

    .header-links {
        justify-content: center;
        margin-top: 20px;
    }
}

@media (min-width: 800px) {
    .header-links {
        justify-content: flex-start;
    }
    .header-links div {
        margin-right: 30px;
        margin-left: 0;
    }

    .header-logo {
        order: 0;
    }
    .header-social {
        display: flex;
    }
}