.contact-wrapper {
    max-width: 900px;
    margin: auto;
}

form .btn {
    margin: 20px 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.form-group label {
    margin: 10px 0;
}
.form-group input {
    line-height: 30px;
}
.form-group input, .form-group textarea {
    padding: 5px;
    border: none;
    box-shadow: var(--shadow);
}


.contact-message {
    text-align: center;
}

.message {
    padding: 10px;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
}
.danger {
    background-color: red;
}
.success {
    background-color: green;
}