.projects-wrapper {
    max-width: 1800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin: 0 auto;
    justify-content: center;
}

.project {
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);

}
.project:hover .project-img {
    opacity: 0.7;
}
.project:hover .project-info {
    opacity: 1;
}

.project-img {
    width: 100%;
    height: auto;
    display: block;
    transition: .3s ease;
    backface-visibility: hidden;
}

.project-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
    opacity: 0;
    transition: .3s ease;
}
.project-info h4 {
    font-family: 'Montserrat', sans-serif, Arial;
    margin-top: 30px;
}

.btn {
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 14px 0;
    border-radius: 2px;
    background: #FFF;
    color: var(--purple);
    border: 3px solid var(--purple);
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    transition: .3s ease all;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
}
.btn:hover {
    color: #FFF;
}
.btn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--purple);
    z-index: -2;
}
.btn:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
.btn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.all-projects {
    text-align: center;
}
.all-projects .btn {
    margin: 20px;
}