.projects-wrapper {
    max-width: 1800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 30px;
    margin: 0 auto;
    justify-content: center;
    padding: 30px 0;
}

.project {
    position: relative;
    box-shadow: var(--shadow);

}
.project:hover .project-img {
    opacity: 0.2;
}
.project:hover .project-info {
    opacity: 1;
}

.project-img {
    width: 100%;
    height: auto;
    display: block;
    transition: .3s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.project-info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    text-align: center;
    opacity: 0;
    transition: .3s ease;
}
.project-info h4 {
    font-family: 'Montserrat', sans-serif, Arial;
    margin-top: 30px;
}
.project-info .btn a {
    color: var(--purple);
}
.project-info .btn:hover a {
    color: white;
}

.all-projects {
    text-align: center;
}
.all-projects .btn {
    margin: 20px;
}