.projects-wrapper {
    max-width: 1800px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    padding: 20px;
    margin: 0 auto;
}

.project img {
    width: 100%;
    height: 100%;
}