:root {
  --orange: #EE7732;
  --purple: #8F1FDF;
  --bg: #f4f7f6;
}


#intro-wrapper {
  height: 100vh;
  position: relative;
}

.intro {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.intro span {
  color: var(--purple);
}

@keyframes bounce {
  0% {transform: translateY(0)}
  50% {transform: translateY(10px)}
  100% {transform: translateY(0)}
}

.circles {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 2s infinite;
}
.small-circle {
  width: 20px;
  height: 20px;
  background-color: rgb(182, 181, 181);
  border-radius: 50%;
  margin-bottom: 8px;
}
.big-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(182, 181, 181);
}


.wrapper {
  /* min-height: 400px; */
  padding: 50px 20px;
}
.title {
  margin: 50px 0 30px 0;
  text-align: center;
}

.skills-wrapper .title {
  margin-bottom: 0;
}
.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skills div {
  padding: 1rem;
}
.skill {
  font-size: 50px;
}

.service-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.service {
  width: 350px;
  margin: 10px 50px;
}
.service h4 {
  color: var(--orange);
  margin-bottom: 20px;
}
