:root {
  --orange: #EE7732;
  --purple: #8F1FDF;
  --bg: #f4f7f6;
}


#intro-wrapper {
  height: 100vh;
  position: relative;
}

.intro {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.intro span {
  color: var(--purple);
}

@keyframes bounce {
  0% {transform: translateY(0)}
  50% {transform: translateY(10px)}
  100% {transform: translateY(0)}
}

.circles {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: bounce 2s infinite;
}
.small-circle {
  width: 20px;
  height: 20px;
  background-color: rgb(182, 181, 181);
  border-radius: 50%;
  margin-bottom: 8px;
}
.big-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid rgb(182, 181, 181);
}


.wrapper {
  /* min-height: 400px; */
  padding: 50px 20px;
}
.title {
  margin: 50px 0 30px 0;
  text-align: center;
}


.service-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.service {
  width: 350px;
  margin: 10px 50px;
}
.service h4 {
  color: var(--orange);
  margin-bottom: 20px;
}



.skills {
  margin: 1rem auto;
  text-align: center;
  font-size: 2rem;
}
.skills > div {
  margin-bottom: 10px;
}

.skills i {
  padding: 1rem;
}

/*Colors*/
.icon-npm {
  color: #ca3838;
}

.icon-gulp {
  color: #eb4a4b;
}

.icon-git {
  color: #f05033;
}

.icon-html5 {
  color: #e34c26;
}

.icon-css3 {
  color: #1572b6;
}

.icon-sass {
  color: #c69;
}

.icon-bootstrap {
  color: #553b78;
}

.icon-javascript {
  color: #90c53f;
}

.icon-jquery {
  color: #0868ab;
}

.icon-reactjs {
  color: #00d8ff;
}

.icon-php {
  color: #8993be;
}

.icon-symfony {
  color: #000;
}

.icon-mysql {
  color: #00758f;
}

.icon-mongodb {
  color: #589636;
}

.icon-nodejs {
  color: #669b4a;
}

.fa-github {
  color: #0077b5;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-file-pdf-o {
  color: #0077b5;
}

/* Media Queries */
@media (max-width: 483px) {
  .skills i {
    font-size: 1.5rem;
    padding: 0.8rem;
  }
}

@media (max-width: 411px) {
  .skills i {
    padding: 0.5rem;
    font-size: 1.3rem;
  }
}

@media (max-width: 347px) {
  .social i {
    margin: 1rem;
    font-size: 3rem;
  }
}
