.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../img/banner.jpg');
  background-position: center;
  height: 100vh;
  position: relative;
}

.notFoundBanner {
  width: 400px;
}

.back_home {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}

.back_home h5 {
  color: white;
}
