h5 {
  margin-bottom: 0;
}

span {
  color: black;
}

ul {
  padding: .5rem 1.5rem;
}

.actions {
  text-align: center;
  color: white;
}

.actions i {
  padding: 1rem;
}

.wrapper {
  background: white;
  box-shadow: 0 1px 1rem 0 black;
  padding: 0 1rem;
}

.social {
  text-align: center;
  align-self: center;
}

.social ul {
  display: flex;
  justify-content: center;
}

.social ul li {
  list-style: none;
  padding: 0 1rem;
}

.accomplisments li {
  list-style: none;
  padding: .2rem 0;
}

/* Colors */
p {
  color: black;
}

.icon-symfony {
  color: black;
}
